Repository thinc-org/open-reg-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, pretty-quick --staged

.lintstagedrc.json:

{
  "src/**/*.ts": ["ng-lint-staged lint --fix --"],
  "src/**/*": ["pretty-quick --staged "]
}

:wrench::bug: fix lintstaged config
  .lintstagedrc.json
Due: none

:wrench: add vscode config
  .vscode/settings.json
Due: none

:zap::heavy_plus_sign: migrate to eslint
  .eslintrc.js
  .prettierrc
  angular.json
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/modules/form/form.module.ts
  src/app/modules/home/home.component.ts
  src/app/modules/home/home.service.ts
  src/polyfills.ts
  src/test.ts
  src/tsconfig.spec.json
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:fire: remove tslint config file
  tslint.json
Due: none

:lipstick::construction: setup custom theme
  src/styles.scss
  src/themes/default-theme/index.scss
  src/themes/default-theme/variables.scss
Due: pretty-quick --staged

:lipstick::construction: add theme service
  .gitignore
  src/app/app.component.ts
  src/app/core/services/theme.service.ts
  src/app/modules/home/home.component.html
  src/app/modules/home/home.component.scss
  src/app/modules/home/home.component.ts
  src/app/modules/home/home.module.ts
  src/styles.scss
  src/types/constants.ts
  src/types/index.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:lipstick: complete theme service
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/styles.scss
  src/themes/default-theme/index.scss
Due: ng-lint-staged lint --fix --, pretty-quick --staged

feat/reconfig project settings (#54)
  .eslintrc.js
  .gitignore
  .lintstagedrc.json
  .prettierrc
  .vscode/settings.json
  angular.json
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/modules/form/form.module.ts
  src/app/modules/home/home.component.ts
  src/app/modules/home/home.service.ts
  src/polyfills.ts
  src/test.ts
  src/tsconfig.spec.json
  tslint.json
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:wrench: add reset-styles.scss
  src/reset-styles.scss
  src/styles.scss
Due: pretty-quick --staged

:wrench: :lipstick: small changes to theme service
  .eslintrc.js
  src/app/app.component.ts
  src/app/core/services/theme.service.ts
  src/app/modules/home/home.module.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkles::wrench::heavy_plus_sign: add swagger
  .eslintignore
  package.json
  src/app/app.module.ts
  src/app/modules/home/home.component.html
  src/app/modules/home/home.component.scss
  src/app/modules/home/home.component.ts
  src/backend-client/.gitignore
  src/backend-client/.npmignore
  src/backend-client/.swagger-codegen-ignore
  src/backend-client/.swagger-codegen/VERSION
  src/backend-client/api.module.ts
  src/backend-client/api/api.ts
  src/backend-client/api/default.service.ts
  src/backend-client/configuration.ts
  src/backend-client/encoder.ts
  src/backend-client/git_push.sh
  src/backend-client/index.ts
  src/backend-client/model/addMemberDTO.ts
  src/backend-client/model/createEventDTO.ts
  src/backend-client/model/createOrganizationDTO.ts
  src/backend-client/model/createUserDTO.ts
  src/backend-client/model/internationalizedString.ts
  src/backend-client/model/models.ts
  src/backend-client/ng-package.json
  src/backend-client/variables.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  tsconfig.app.json
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:wrench::bug: fix lint staged bugs
  .lintstagedrc.json
Due: none

:bug::wrench: fix 'lf' end of line in windows
  .editorconfig
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/settings.json
  Dockerfile
  README.md
  browserslist
  e2e/protractor.conf.js
  nginx/default.conf
  package.json
  src/backend-client/.gitignore
  src/backend-client/.npmignore
  src/backend-client/.swagger-codegen-ignore
  src/backend-client/git_push.sh
  src/index.html
  yarn.lock
Due: pretty-quick --staged

:lipstick: add css variable from figma
  src/styles-reset.scss
  src/styles-variables.scss
  src/styles.scss
  src/themes/default-theme/variables.scss
Due: pretty-quick --staged

:sparkles: add custom component example
  src/app/core/components/example/example.component-theme.scss
  src/app/core/components/example/example.component.html
  src/app/core/components/example/example.component.scss
  src/app/core/components/example/example.component.spec.ts
  src/app/core/components/example/example.component.ts
  src/app/core/core.module.ts
  src/app/modules/form/form.module.ts
  src/app/modules/home/home.component.html
  src/app/modules/home/home.module.ts
  src/styles-variables.scss
  src/styles.scss
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkles::bug: fix some files are still not commited
  src/styles-variables-themes.scss
  src/styles-variables.scss
  src/styles.scss
Due: pretty-quick --staged

:sparkles: add mock api service
  src/app/app.module.ts
  src/app/core/services/mock-api.service.ts
  src/app/modules/home/home.component.html
  src/app/modules/home/home.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:art: change structure of mock api class
  src/app/core/services/mock-api.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:art: refactor theme switching logic to seperate component
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/components/theme-controller/theme-controller.component.html
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.ts
  src/app/core/core.module.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:white_check_mark: add tests for theme config
  .eslintrc.js
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/components/example/example.component.spec.ts
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.ts
  src/app/core/services/theme.service.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

SYS4/config theme (#55)
  .eslintrc.js
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/components/example/example.component-theme.scss
  src/app/core/components/example/example.component.html
  src/app/core/components/example/example.component.scss
  src/app/core/components/example/example.component.ts
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.html
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.ts
  src/app/core/core.module.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/theme.service.ts
  src/app/modules/form/form.module.ts
  src/app/modules/home/home.component.html
  src/app/modules/home/home.component.scss
  src/app/modules/home/home.module.ts
  src/styles-reset.scss
  src/styles-variables-themes.scss
  src/styles-variables.scss
  src/styles.scss
  src/themes/default-theme/index.scss
  src/themes/default-theme/variables.scss
  src/types/constants.ts
  src/types/index.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:wrech::alembic::construction::rocket: add CI/CD
  .github/workflows/main.yml
Due: none

:bug: fix pipeline fail
  .github/workflows/main.yml
Due: none

:bug: ci test error
  .github/workflows/main.yml
  karma-ci.config.js
  package.json
Due: none

:bug: ci test error try chrome headless
  karma-ci.config.js
  karma.conf.js
  package.json
Due: none

:alembic: test deploying
  .github/workflows/build.yml
Due: none

wrench: stop vercel from deploy twice
  now.json
  vercel.json
Due: none

:wrench: try changing vercel cli version
  .github/workflows/deploy.yml
Due: none

:zap: improve testing time
  package.json
  src/app/app.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/services/theme.service.spec.ts
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: vercel deploy error
  .github/workflows/deploy.yml
  vercel.json
Due: none

:wrench: move vercel to devDependencies
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: none

:bug: fix deploy error
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

:art: remove comments
  .github/workflows/main.yml
Due: none

:heavy-minus-sign: remove vercel module
  package.json
  yarn.lock
Due: none

:zap::rocket::alembic::heavy_plus_sign: speed up github actions
  .github/workflows/main.yml
  Dockerfile
  package.json
  vercel.json
  yarn.lock
Due: none

:bug: fix not build on staging
  .github/workflows/main.yml
Due: none

:bug: fix build error
  .github/workflows/main.yml
Due: none

:zap: even faster build time
  .github/workflows/main.yml
  package.json
Due: none
